# ================================
# BACKEND
# ================================
BACKEND_PORT=5000
BACKEND_NODE_ENV=development
MONGO_URI=mongodb://host.docker.internal:27017/attendance-system
FRONTEND_URL=http://localhost:3000
ADMIN_FRONTEND_URL=http://localhost:3001
CORS_ORIGIN=http://localhost:3000,http://localhost:3001
BASIC_AUTH_USERNAME=seeder
BASIC_AUTH_PASSWOR=seeder123

# ================================
# EMPLOYEE/MANAGER FRONTEND
# ================================
FRONTEND_PORT=3000
FRONTEND_NODE_ENV=development
FRONTEND_REACT_APP_API_URL=http://localhost:5000/api/v1

# ================================
# ADMIN FRONTEND
# ================================
ADMIN_FRONTEND_PORT=3001
ADMIN_FRONTEND_NODE_ENV=development
ADMIN_REACT_APP_API_URL=http://localhost:5000/api/v1
